* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#number-display {
  margin: 30vmin 0 5vmin 0;
  font-size: 10vmin;
}


input {
  height: 7vmin;
  width: 10vmin;
  font-size: 3vmin;
  text-align: center;
}


button {
  height: 7vmin;
  width: 7vmin;
  font-size: 2vmin;
  color: black;
  background-color: white;
}

button:hover {
  color: white;
  background-color: black;
}